{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offline Tender Detail</title>
    <link rel="stylesheet" href="{% static 'MIS/detail.css' %}">
</head>
<body>
<div class="container">
    <div class="title">Offline Tender Detail</div>

    <table>
        <tr>
            <th colspan="2">Basic Details</th>
        </tr>
        <tr>
            <td><b>Tender Reference Number</b></td>
            <td>{{ entry.tenderReferenceNumber }}</td>
        </tr>
        <tr>
            <td><b>Tender ID</b></td>
            <td>{{ entry.tenderID }}</td>
        </tr>
        <tr>
            <td><b>Tender Title</b></td>
            <td>{{ entry.tenderTitle }}</td>
        </tr>
        <tr>
            <td><b>Tender Category</b></td>
            <td>{{ entry.tenderCategory }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th colspan="3">Tender Fee Details</th>
        </tr>
        <tr>
            <td><b>Tender Fee Type</b></td>
            <td><b>Tender Fee</b></td>
            <td><b>Tender Value</b></td>
        </tr>
        <tr>
            <td>{{ entry.tenderFeeType }}</td>
            <td>{{ entry.tenderFee }}</td>
            <td>{{ entry.tenderValue }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th colspan="2">EMD Fee Details</th>
        </tr>
        <tr>
            <td><b>EMD Type</b></td>
            <td><b>EMD</b></td>
        </tr>
        <tr>
            <td>{{ entry.emdType }}</td>
            <td>{{ entry.emd }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th colspan="4">BID Details</th>
        </tr>
        <tr>
            <td><b>Technical Bid Opening Date</b></td>
            <td colspan="3">{{ entry.technicalBidOpeningDate }}</td>
        </tr>
        <tr>
            <td><b>Financial Bid Opening Date</b></td>
            <td colspan="3">{{ entry.financialBidOpeningDate }}</td>
        </tr>
        <tr>
            <td><b>L1 Bidder Emd</b></td>
            <td><b>L1 Bidder Emd Value</b></td>
            <td><b>L1 Bidder Bg</b></td>
            <td><b>L1 Bidder Bg Value</b></td>
        </tr>
        <tr>
            <td>{{ entry.l1BidderEmd }}</td>
            <td>{{ entry.l1BidderEmdValue }}</td>
            <td>{{ entry.l1BidderBg }}</td>
            <td>{{ entry.l1BidderBgValue }}</td>
        </tr>
        <tr>
            <td><b>Payment Options</b></td>
            <td colspan="3">{{ entry.paymentOptions }}</td>
        </tr>
    </table>

    <div class="edit-button">
        <a href = "{% url 'offlineEdit' entry.pk %}">Edit</a>
    </div>
</div>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button class="logout-button" type="submit">Logout</button>
</form>
</body>
</html>
