{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CPPP Tender Statuses</title>
    <link rel="stylesheet" href="{% static 'MIS/status.css' %}">
</head>
<body>
<div class="container">
    <header>
        <h1>CPPP Tender Statuses</h1>
    </header>
    <ol>
        {% for entry in cpppEntries %}
            {% if entry.pk == 1 %}
                <div class="tender-info">
                    <span class="tender-heading">Tender ID</span>
                    <span class="tender-heading">Tender Title</span>
                    <span class="tender-heading">Tender Category</span>
                    <span class="tender-heading">Tender Fee Type</span>
                    <span class="tender-heading">Tender Fee</span>
                </div>
            {% endif %}
            <li>
                <a href="{% url 'cpppDetail' entry.pk %}">
                    <div class="tender-info">
                        <span class="tender-entry">{{ entry.tenderID }}</span>
                        <span class="tender-entry">{{ entry.tenderTitle }}</span>
                        <span class="tender-entry">{{ entry.tenderCategory }}</span>
                        <span class="tender-entry">{{ entry.tenderFeeType }}</span>
                        <span class="tender-entry">{{ entry.tenderFee }}</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ol>
</div>
</body>
</html>
