{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEM update and status</title>
    <link rel="stylesheet" href="{% static 'MIS/adminMIS.css' %}">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>GEM UPDATE & STATUS</h1>
    </div>
    <div class="sub-header">
        <p></p>
    </div>
    <div class="grid">

        <a href="gemUpdate.html" class="grid-item">
            <h3>Update</h3>
            <p></p>

        </a>

        <a href="gemStatus.html" class="grid-item">
            <h3>Status</h3>
            <p></p>
        </a>

        <div class="bottom_aligner">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>