body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px; /* Add margin at the top */
}

.container {
    width: 80%;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.bottom_aligner {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 0px;
}

.edit-button {
    margin-top: 20px;
    text-align: center;
}
.edit-button a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.edit-button a:hover {
    background-color: #0056b3;
}

.logout-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1F6C8B;
    color: white;
    padding: 30px 60px; /* Increased padding for a larger button */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 24px; /* Increased font size */
}